.dashboard-container {
  padding: 20px;
}

.dashboard-title {
  color: #1e293b;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 20px;
}

/* Rejilla de tarjetas */
.kpi-grid {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  gap: 120px;
  margin: 30px 10px 60px 10px;
  width: 100%;
  
}

.kpi-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.205);
  border-left: 5px solid #e74c3c; /* Rojo por defecto */
  
}

.kpi-card.blue { border-left-color: #3498db; }
.kpi-card.green { border-left-color: #2ecc71; }

.kpi-card h4 {
  margin: 0;
  color: #7f8c8d;
  font-size: 0.9rem;
  margin-right: 130px;
}

.kpi-value {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px 0 0 0;
  color: #2c3e50;
 ;
}

/* Sección del gráfico */
.chart-section {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}