.page-container { 
  width: 100% !important;
  padding: 30px; /* El espacio se da hacia adentro */
  min-height: calc(100vh - 70px);
  background-color: #f8fafc;
}

.page-header { 
  margin-bottom: 25px;
  width: 100%;
  
}


.page-header h2 { 
  color: #1e293b;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.page-header p { 
  color: #64748b; 
  margin-top: 5px;
}

/* GRID RESPONSIVO AL 100% */
.content-grid {
  display: grid;
  grid-template-columns: 350px 1fr; /* 350px fijo, 1fr toma TODO el resto */
  gap: 30px;
  width: 100%;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.205);

  border: 1px solid #e2e8f0;
}

.form-section form { 
  display: flex; 
  flex-direction: column; 
  gap: 15px; 
}

.form-section input {
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.form-section input:focus {
  border-color: #f63b3b;
}

.btn-save {
  background:#2ecc71;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-save:hover { 
  background: #23a359; 
  transform: translateY(-1px);
}

/* TABLA QUE OCUPA TODO EL ANCHO */
.table-section {
  width: 100%;
  overflow-x: auto;
}

.custom-table { 
  width: 100%; 
  border-collapse: collapse;
}

.custom-table th { 
  text-align: left; 
  padding: 16px; 
  border-bottom: 2px solid #f1f5f9; 
  color: #64748b; 
  background-color: #f8fafc;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.custom-table td { 
  padding: 16px; 
  border-bottom: 1px solid #f1f5f9; 
  color: #334155;
}

.custom-table tr:hover {
  background-color: #499ef344;
}

/* MEDIA QUERY PARA MÓVILES */
@media (max-width: 1024px) {
  .content-grid {
    grid-template-columns: 1fr; 
  }
  
  .page-container {
    padding: 15px;
  }
}