#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.main-content {
  margin-top: 90px; /* Este margen "empuja" el Dashboard hacia abajo */
  padding: 20px;
  background-color: #f8fafc;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-content {
  padding-top: 20px; /* Espacio para que no se pegue al Header */
  min-height: calc(100vh - 70px); /* Ocupa el resto de la pantalla */
  background-color: #f4f7f9; /* Color de fondo suave para que resalten las tarjetas */
}