.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100% !important; /* Obligatorio */
  margin-top: 70px; /* Espacio para el Header */
  padding: 0; /* Quitamos padding aquí para controlarlo en cada página */
  display: block;
}