/* RESET TOTAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100% !important;
  min-height: 100vh;
  background-color: #f8fafc;
  display: block !important; /* Quita el centrado de Vite */
}

body {
  line-height: 1.5;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}